<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../../partials/head'); %>
</head>

<body>

  <%- include('../../../partials/nav'); %>
  <% 
    let tableNames = [];
    tables.singleInsert.forEach(table => {
      tableNames.push(table.name);
    });
    tables.multipleInsert.forEach(table => {
      tableNames.push(table.name);
    });
  %>
  <%- 
    include('../../../partials/header', {headerText: `Wstawianie danych do tabel: ${tableNames.join(', ')}`}); 
  %>
  
  <div class="container">
    <div class="jumbotron">
      <form action="/db/insert/complexInsertIntoTable/<%= tableNames.join('_') %>" method="POST">

        <% tables.singleInsert.forEach(table => { %>
          <h1><%= table.name %></h1>
          <% table.fields.forEach(field => { %>
            <%- include('form-fields/normal', {field, tableName: table.name}); %>
          <% }) %>
        <% }) %>

        <% tables.multipleInsert.forEach(table => { %>
          <h1><%= table.name %></h1>
          <% table.secondPkField.values.forEach(value => { %>
            <% table.fields.forEach(field => { %>
              <%- include('form-fields/multi', {field, value, commonFieldName: table.commonFieldName, secondPkFieldName: table.secondPkField.name, tableName: table.name}); %>
            <% }) %>
          <% }) %>
        <% }) %>

        <button type="submit" class="btn btn-primary">Wprowadź</button>
      </form>
    </div>
    <div class="jumbotron">
      <% auxiliaryTables.forEach(table => { %>
        <h2><%= table.tableName %></h2>
        <%- include('../../../partials/db-basic-table.ejs', {results: table.results}); %>
      <% }) %>
    </div>
  </div>

</body>
</html>