<!DOCTYPE html>
<html style="scroll-behavior: smooth;">

<head>
  <%- include('../partials/head'); %>
</head>

<body data-spy="scroll" data-target=".navbar-scrollspy" data-offset="200">

  <%- include('../partials/nav'); %>
  <%- include('../partials/header', {headerText}); %>

  <%- include('../partials/navbar-scrollspy'); %>
  <%- include('../partials/show-all-tables', resultTables); %>

</body>

</html>