<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <%- include('../partials/nav'); %>
  <%- include('../partials/header', {headerText: `Wstawianie danych do tabeli ${tableName}`}); %>
  
  <div class="container">
    <div class="jumbotron">
      <form action="/db/insert/insertIntoTable/<%= tableName %>" method="POST">
        <% let f = fields;
          if(excludeFirst) {
            f = fields.slice(1); %>
            <div class="form-group">
              <label for="<%= fields[0].name %>"><%= fields[0].name %>:</label>
              <input type="text" class="form-control" placeholder="Automatyczne numerowanie" id="<%= fields[0].name %>" disabled>
            </div>
          <% }
          f.forEach(function(field) { %>
            <div class="form-group">
              <label for="<%= field.name %>"><%= field.name %>:</label>
              <input type="text" class="form-control" id="<%= field.name %>" name="<%= field.name %>">
            </div>
        <% }); %>
        <button type="submit" class="btn btn-primary">Wprowadź</button>
      </form>
    </div>
  </div>

</body>
</html>