<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <%- include('../partials/nav'); %>
  <%- include('../partials/header', {headerText: 'Baza Danych'}); %>

  <div class="container">
    <div class="jumbotron">
      <h2>Przegląd danych</h2>
      <div class="m-5 text-center">
        <a href="/db/allTables" class="btn-lg btn-info p-3" role="button"> Wszystkie Tabele </a>
      </div>
      <div class="m-5 text-center">
        <a href="/db/allViews" class="btn-lg btn-info p-3" role="button"> Wszystkie Widoki </a>
      </div>
      <div class="m-5 text-center">
        <a href="/db/report" class="btn-lg btn-info p-3" role="button"> Raporty </a>
      </div>
      <h2>Wprowadzanie danych</h2>
      <table class="table">
        <% tableNames.forEach(function(name) { %>
            <tr>
              <td><h4><%= name.table_name %></h4></td>
              <td><a href="/db/insert/<%= name.table_name %>" class="btn btn-info" role="button"> Wprowadź dane </a></td>
            </tr>
        <% }); %>
      </table>
    </div>
  </div>

</body>

</html>