<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <title>Error <%= err.status %></title>
</head>

<body>
  <%- include('../partials/nav'); %>
  <div class="jumbotron bg-danger text-white">
    <h1>Błąd <%= err.status %></h1>
    <p><%= err.message %></p>
  </div>
</body>

</html>