<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/clickable-table.css">
  <script src="/scripts/clickable_table.js"></script> 
</head>

<body data-spy="scroll" data-target=".navbar-scrollspy" data-offset="50">

  <%- include('../partials/nav'); %>
  <%- include('../partials/header', {headerText: 'Raporty'}); %>

  <!-- <%- include('../partials/navbar-scrollspy'); %> -->

  <div class="container">
    <div class="jumbotron shadow p-4 mb-4">
      <h2> <%= resultTables[0].tableDisplayName %> </h2>
      <%- include('../partials/db-clickable-table', {resultTable: resultTables[0]}); %>
    </div>
  </div>

  <%- include('../partials/show-all-tables', {resultTables: resultTables.slice(1)}); %>

</body>

</html>