<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/header'); %>
  <link rel="stylesheet" href="/stylesheets/clickable-table.css">
  <script src="/scripts/clickable_table.js"></script> 
</head>

<body>

  <%- include('../partials/nav'); %>

  <div class="container">
    <div class="shadow p-4 mb-4">
      <h2> <%= resultTables[0].tableDisplayName %> </h2>
      <%- include('../partials/db-clickable-table', {resultTable: resultTables[0]}); %>
    </div>
  </div>

  <%- include('../partials/show-all-tables', {resultTables: resultTables.slice(1)}); %>

</body>

</html>