<% 

  let fclass = "";
  if (ftype === 'text'){
    fclass = "form-control";
  }

  let fivalue = "";
  if (typeof fvalue !== 'undefined'){
    fivalue = `value=${fvalue}`;
  }

  let fiplaceholder = "";
  if (typeof fplaceholder !== 'undefined'){
    fiplaceholder = `value=${fplaceholder}`;
  }

  let fidisabled = "";
  if (typeof fdisabled !== 'undefined'){
    fidisabled = `${fdisabled}`;
  }
%> 

<% if (ftype === 'checkbox') { %>
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" id="<%= fname %>" value='true' name="<%= fname %>">Zapłacono składkę
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" id="<%= fname %>" value='false' name="<%= fname %>">Nie zapłacono składki
    </label>
  </div>
<% } else {%>
<label for="<%= fname %>"><%= flabel %>:</label>
<input type=<%= ftype %> class="<%= fclass %>" id="<%= fname %>" <%= fivalue %> <%= fiplaceholder %> name="<%= fname %>" <%= fidisabled %>>
<% } %>
