<% if (!(field.name === commonFieldName)) { %>
  <div class="form-group">
    <label for="<%= field.name %>"><%= field.name %>:</label>

    <% if (field.name === secondPkFieldName) { %>
      <input type="text" class="form-control" id="<%= tableName %>-<%= field.name %>_<%= String(value).padStart(5, '0') %>" value="<%= value %>" name="<%= tableName %>-<%= field.name %>_<%= String(value).padStart(5, '0') %>" disabled>
    <% } else if (field.state === 'normal') { %>
      <input type="text" class="form-control" id="<%= tableName %>-<%= field.name %>_<%= String(value).padStart(5, '0') %>" name="<%= tableName %>-<%= field.name %>_<%= String(value).padStart(5, '0') %>">
    <% } else if (field.state === 'autonumerated') { %>
      <input type="text" class="form-control" placeholder="Automatyczne numerowanie" id="<%= tableName %>-<%= field.name %>_<%= String(value).padStart(5, '0') %>" name="<%= tableName %>-<%= field.name %>_<%= String(value).padStart(5, '0') %>" disabled>
    <% } %>
  </div>
<% } %>